.width-100{
  width: 100%;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.drag{
  -webkit-app-region: drag;
}
.no-drag{
  -webkit-app-region: no-drag;
}
.rotate {
  animation: rotating 2s linear infinite;
}
@keyframes rotating {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(1turn)
  }
}